[submodule "deps/vcpkg"]
	path = deps/vcpkg
	url = https://github.com/microsoft/vcpkg.git
[submodule "deps/node"]
	path = deps/node
	url = https://github.com/nodejs/node.git
[submodule "packages/core"]
	path = packages/core
	url = https://github.com/nodemod/core-goldsrc.git
[submodule "packages/admin"]
	path = packages/admin
	url = git@github.com:nodemod/admin-goldsrc.git
[submodule "packages/examples"]
	path = packages/examples
	url = git@github.com:nodemod/examples-goldsrc.git
